.centered-text {
    text-align: center;
    margin-top: 20px;
    /* Ajusta el margen superior según tus necesidades */
}

.centered-text a {
    font-size: 18px;
    /* Tamaño de fuente del enlace */
    /* Otros estilos de enlace, como color y decoración, según tus preferencias */
}